body {
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

nav ul {
    display: flex;
    padding-top: 18px;
    list-style: none;
    cursor: pointer;
    color: white;
    padding-right: 15px;
}

nav ul li {
    padding: 10px;
    padding-right: 27px;
    font-weight: 500;
    font-size: 8px;
    font-style: italic;
}

nav li:hover {
    color: #B3BC00;
    /* font-color: #B3BC00; */
}

.navlinks {
    display: flex;
}

.iconscontainer {
    display: flex;
    fill: #ffffff;
margin: 15px;
    /* width: 20px; */
}
.icon{
    padding-right: 13px;
    fill: white;
    width: 28px;
    cursor: pointer;
}
.icon:hover{
    fill: #B3BC00;
}
/* .icons>i>img> {
    cursor: pointer;
    font-size: 100px;
    color: blue;
    font-color: blue;
}

.icons>i>img:hover {} */

/* fair distribution color #BFC500 #BFC500 */


.coverimg {
    display: block;
    margin: auto;
    border-radius: 5px;
    max-width: 100%;
}

.allmargin{
        margin-left: 8%;
        margin-right: 8%;
}


.section1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    margin-bottom: 20px;
}
.section1text{
    text-align: justify;
    text-justify: inter-word;
    width: 90%;
    /* min-width: 60%;
    max-width: 90%; */
   margin-left: 35px;
   margin-bottom: 24px;
   padding-left: 15px;
   padding-right: 15px;
}
.section1text>h1 {
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}

.section1text>p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.fourimggrid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 78px;
    padding-left: 15px;
    padding-right: 15px;
}

.twoimgrow {
    display: flex;
}
.twoimgrow>img{
    padding: 6px;
}
.section2 {
    display: flex;
}

.section2text>h2 {
    color: #B3BC00;
    font-style: italic;
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
}

.section2text>h5 {
    color: white;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
}

.section2text>p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    width: 80%;
}




.note {
    color: white;
    font-style: italic;
   font-size: 13px;
    font-weight: 200;
    line-height: 19px;
    width: 520px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 90px;
}

.yellowcontainer {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 24px;
    background-color: #B3BC00;
    color: black;
    /* border-bottom: 1px solid #3b3b3b; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* flex-grow: 1; */
}
.yellowcontainer>h2{
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    flex-basis: 33%;
    /* width: 33%; */
    /* width: 189px;
    height: 36.7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 24px;
    margin-right: 24px; */
}
.yellowcontainer>p {
    font-weight: 400;
    font-size: 16px;
    flex-basis: 33%;
    /* display: inline-block; */
    /* width: 33%; */
}
.yellowcontainer>button {
    font-weight: 600;
    font-size: 16px;
    background-color: black;
    color: #B3BC00;
    border-radius: 10px;
    border-style: none;
    padding: 6px;
    /* height: 167px;
    width: 48px; */
    flex-basis: 33%;
    /* width: 33%; */
}
.yellowcontainer button:hover{
    background-color: #ffffff;
    color: black;
}


.section4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-bottom: 45px;
    margin-bottom: 40px;
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
}
.section4text{
    margin-top: 45px;
    width: 60%;
}
.section4text>h1{
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}
.section4text>p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-word;
}
.section4text a {
    color: #B3BC00;
}

.section4text a:hover {
    color: #ffffff;
}
.gif{
    margin-top: 40px;
}



.section5{
    border-bottom: 1px solid #3b3b3b;
}
.section5text>h1 {
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}
.section5text>p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 76%;
    text-align: justify;
    text-justify: inter-word;
}
.section5icons{
    color: white;
    display: flex;
}
.section5icons figcaption{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.section6{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #3b3b3b;
}
.section6text>h1{
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}
.section6text>p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.toilet{
    margin-left: 21px;
    margin-right: 21px;
}


.section7{
    margin-top: 20px;
    border-bottom: 1px solid #3b3b3b;
    margin-bottom: 30px;
}
.section7 h1{
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}
.section7 p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.section7table{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.shirtdiv{
    height: 280px;
    width: 300px;
    background-color: #B3BC00;
}
.yellopercent{
    list-style: none;
    color: #B3BC00;
    /* display: inline-block; */
    /* border: 1px solid rgb(16, 218, 233); */
}
.strikethroughtext{
    color: #ffffff;
    list-style: none;
    text-decoration: line-through;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}
/* .section7table>img{
    background-color: #B3BC00;
} */

.section8{
   display: flex;
   margin-top: 30px;
   padding-bottom: 30px;
   margin-bottom: 30px;
   border-bottom: 1px solid #3b3b3b;
}
.section8text>h2{
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}
.section8text>p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;   
}
.section8button>a>button{
    text-decoration: none;
    background-color: #B3BC00;
    color: black;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    /* margin: 80px;
    margin-top: 100px;
    margin-bottom: 200px; */
}
.section8button>a>button:hover{
    background-color: #ffffff;
}


.section9{
    border-bottom: 1px solid #eaeaea;
}
.sec9flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:30px;
}
.section9text{
    width: 60%;
}
.section9text>h2{
    color: white;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    font-style: italic;
}
.section9text>p{
   color: white;
   font-style: italic;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
.section9text>p>span{
    color: #B3BC00;
    font-weight: 600;
    font-size: 16px;
}
.section9para{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
 }
 .fourimggridreal{
     display: grid;
     row-gap: 15px;
     column-gap: 10px;
     grid-template-columns: 50% 50%;
     /* grid-template-rows: 2; */
 }

.verified{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.verified>a{
    color: #B3BC00;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    ;
}
.verified>a:hover{
    color: white;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* .form{} */
.form>p{
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    color: white;
}




.r{
    font-weight: 400;
    font-size: 10px;
    color: white;
}
.terms{
    color: #B3BC00;
    font-weight: 400;
    font-size: 10px;
}
.terms:hover{
    color: white;
}
.yellowend{
    height: 15px;
    background-color: #B3BC00;
}